body {
    font-family: Arial, sans-serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 600px auto 100px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    'header header header'
    'aside1 main aside2'
    'footer footer footer';
}

header {
    background-color: #333;
    background-image: url("../images/header.jpg");
    background-size: cover;
    padding-top: 400px;
    padding-bottom: 200px;
    color: white;    
    text-align: center;
    grid-area: header;
}

h2, h3 {
    color: rgb(230, 170, 19);
    clear: both;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);  
}

main {
    padding: 20px;
    grid-area: main;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    grid-area: footer;
}

span {
    color: #234a6a;
    text-transform: uppercase;    
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }

  img {
    width: 200px;
    height: auto;
  }

  .left{
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
  }

  .right {
    float: right;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .center {
    text-align: center;
  }

  p {
    padding-top: 10px;    
  }

  div > img {
    height: 180px;
    width: auto;
    text-align: center;
  }

  #flex-container {
    display: flex;
    justify-content: space-evenly;
  }

  section > div {
    height: 250px;
    width: 350px;
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    body {
        grid-template-rows: auto auto 100px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'main'
        'footer';
    }

    header {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    nav ul li {
        display: block;
        margin: 0;
        text-align: center;
    }

    footer {
        position: static;
    }
}

@media only screen and (max-width: 480px) {
    body {
        grid-template-rows: auto auto 100px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'main'
        'footer';
    }

    header {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    nav ul li {
        display: block;
        margin: 0;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
    }

    footer {
        position: static;
    }

    #flex-container {
        flex-direction: column;
    }

    section > div {
        height: auto;
        width: 100%;
    }
    
    .hide {
      display: none;
    }
}